@import url("https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

::selection {
  background: #2ddab8;
  color: white;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-family: "Sulphur Point", sans-serif;
  font-size: 0.9rem;
  color: black;
  background: aquamarine;
}

#app {
  width: 100%;
  height: 100%;
}
